<div class="p-0 m-0 bg-secondary-subtle">
  <div class="container-fluid container-xl">
    <!-- 可利用 row-cols 控制行數，支援RWD -->
    <div class="row row-cols-1 row-cols-xl-5 pt-5">
      <div class="col mb-3 ps-4 ps-xl-0">
        <p class="text-body-secondary"><span class="fw-bold">頁面設計：</span> Kevin Cheng</p>
        <p class="text-body-secondary"><span class="fw-bold">聯絡地址：</span> 這是一個神奇的地址這是一個神奇的地址</p>
        <p class="text-body-secondary"><span class="fw-bold">聯絡電話：</span> 這是一個神奇的電話這是一個神奇的電話</p>
      </div>

      <div class="d-none d-xl-block col mb-3"></div>
      <div class="d-none d-xl-block col mb-3">
        <h5>Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
        </ul>
      </div>

      <div class="d-none d-xl-block col mb-3">
        <h5>Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
        </ul>
      </div>

      <div class="d-none d-xl-block col mb-3">
        <h5>Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
        </ul>
      </div>
    </div>
    <hr />
    <footer class="d-flex flex-wrap justify-content-center justify-content-xl-between align-items-center py-3">
      <div class="col-12 col-md-6 d-flex align-items-center">
        <span class="mb-0">© 2024 Kevin Cheng. All rights reserved.</span>
      </div>
      <ul class="nav col-md-6 justify-content-end list-unstyled d-none d-xl-flex">
        <li class="ms-3"><a class="text-body-secondary" href="#"><i class="bi bi-twitter-x"></i></a></li>
        <li class="ms-3"><a class="text-body-secondary" href="#"><i class="bi bi-instagram"></i></a></li>
        <li class="ms-3"><a class="text-body-secondary" href="#"><i class="bi bi-facebook"></i></a></li>
      </ul>
    </footer>
  </div>
</div>
